.navbar {
    background-color: #361459;
    color: #fff;
    padding: .8rem;
    box-shadow: #222 0px -2px 15px 0px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: .5rem;
}

.spanLogo {
    padding: .05rem .3rem;
    background-color: yellow;
    font-weight: bold;
    border-radius: .5rem;
    color: #361459;
}

.navList {
    height: 0;
    overflow: hidden;
    transition: all .2s ease;
}

.navListToggle {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: absolute;
    top: 5.3rem;
    left: 0;
    height: auto;
    background-color: #361459;
    width: 100%;
    padding: .8rem;
    z-index: 10;
    /*por causa da position absolute da mascara da foto*/
}

.navList a:hover {
    background-color: #762ea6;
}

.active {
    background-color: #762ea6;
    color: #fff;
}

.buttonToggle {
    display: flex;
}

@media (min-width: 750px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navList {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .8rem;
        padding: .5rem;
        height: auto;
    }

    .logo {
        width: 0;
    }

    .buttonToggle {
        display: none;
    }

}