.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    background-color: #361459;
    color: #fff;
    box-shadow: #222 0px -2px 15px 0px;
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: .5rem;
}

.spanLogo {
    padding: .05rem .3rem;
    background-color: yellow;
    border-radius: .5rem;
    font-weight: bold;
    color: #361459;
}