.divModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn .3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut .3s ease forwards;
}

.divContainer {
    padding: .2rem;
    background-color: rgba(195, 195, 195, .7);
    width: 95%;
    height: 95%;
    border-radius: .3rem;
    overflow: auto;
}

.divContainer::-webkit-scrollbar {
    display: none;
}

.divHeadModal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: .2rem;
}

.divImgDesc {
    padding: .2rem;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divImgDesc img {
    width: auto;
    max-width: 750px;
    max-height: 600px;
    height: auto;
    object-fit: contain;
    border-radius: .3rem;
    margin-bottom: .5rem;
    box-shadow: 0 6px 8px 3px rgba(0, 0, 0, 0.3);
}

.divImgDesc p {
    max-width: 750px;
    width: 100%;
    height: 100%;
    background-color: #361459;
    color: #fff;
    border-radius: .3rem;
    padding: 1rem;
    box-shadow: 0 6px 8px 3px rgba(0, 0, 0, 0.3);
}

.cardDetailH3 {
    max-width: 750px;
    width: 100%;
    text-align: left;
    padding-left: .8rem;
}

.divImgDesc a {
    padding: 1rem;
}

@media (max-width: 785px) {
    .divHeadModal h1 {
        font-size: 1.5rem;
    }

    .divImgDesc img {
        width: 100%;

    }
}