.card {
    background-color: #fff;
    max-width: 300px;
    border-radius: .3rem;
    box-shadow: 0 6px 8px 3px rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 10px 14px 5px rgba(0, 0, 0, 0.5);
}

.imgClass {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: .3rem .3rem 0 0;
    margin-bottom: .5rem;
}

.card h2 {
    padding: .3rem;
    margin-bottom: .5rem;
}